[submodule "pset01/overleaf"]
	path = pset01/overleaf
	url = https://git.overleaf.com/5e8fc6eaf4bb05000113189b
[submodule "pset02/overleaf"]
	path = pset02/overleaf
	url = https://git.overleaf.com/5e9f719246ac4d00017a7015
[submodule "dependencies/external/export_fig"]
	path = dependencies/external/export_fig
	url = https://github.com/altmany/export_fig
